.password-container{
    position: relative;
}
.child{
    position: absolute;
    right: 2.7%;
    top: 15%;
    scale: 1.3;
}
.back_color{
    width: 100%;
    height: 100vmin;
    background-color: #034d83 !important;
}
.btn_bg{
    background-color: #034d83 !important;
}
.color{
    color: #034d83;
    font-weight: 500;
}