.background_image{
    background-image: url('../../assets/login_page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.color{
    color: #034d83;
    font-weight: 500;
}
.btn_bg{
    background-color: #034d83 !important;
}
.height-100{
    height: 100vh;
}
.password-container{
    position: relative;
}
.child{
    position: absolute;
    right: 2.7%;
    top: 15%;
    scale: 1.3;
}