.color{
    color: #034d83;
    font-weight: 500;
}
.btn_bg, .bg-color{
    background-color: #034d83 !important;
}
.text-white{
    color: white;
    font-weight: 500;
}
.light-bg{
    background-color: rgb(227,237,249);
}
.bg-whilte{
    background-color: white;
}
.navbar-nav .nav-link.active{
    border-bottom: 2px solid #034d83;
    padding-bottom: 4px;
}
